<!-- Wideget -->
<div class="wideget list-group">
	<h3 class="wideget-title">{{heading_title}}</h3>
        <ul>
                {% for category in categories %}
                {% if category.category_id == category_id %} 
                <li><a href="{{ category.href }}">{{ category.normalname }}</a></li>
                {% if category.children %}
                <ul>
                {% for child in category.children %}
                {% if child.category_id == child_id %}
                
                <li><a href="{{ child.href }}">{{ child.normalname }} <i>{{ child.numbers }}</i></a></li> 
                {% else %} 
                <li><a href="{{ child.href }}">{{ child.normalname }} <i>{{ child.numbers }}</i></a></li>
                {% endif %}
                {% endfor %}
                </ul>
                {% endif %}
                {% else %} 
                <li><a href="{{ category.href }}">{{ category.normalname }}</a></li>
                {% endif %}
                {% endfor %}
        </ul>
    </div>
    <!-- // Wideget -->