<!-- Categorys Section -->
<div class="categorys-section">
            <div class="container">
                

                <div class="section-title">
                    <h2>{{ heading_title }}</h2>
                </div>
                 
                <div class="row">

                        {% for category in categories %}
                    <!-- Categorys Block -->
                    <div class="categorys-block col-s-12 col-m-6 col-l-4">
                        <div class="content-box">
                            <a href="{{ category.href }}" class="image"><img src="{{ category.image }}" alt=""></a>
                            <a href="{{ category.href }}"><h3>{{ category.name }}</h3></a>
                          <ul>
                            {% for m in category.manfs %}
                                <li><a href="{{category.href ~ '&filter_manf=' ~ m.filter_id}}">{{m.name}}</a></li>
                            {% endfor %}
                                <li><a href="{{category.href}}">View more</a></li>
                          </ul>
                        </div>
                    </div>
                    <!-- // Categorys Block -->
                        {% endfor %}

                </div>



            </div>
        </div>
        <!-- // Categorys Section -->