{{ header }}
<!-- Page Head -->
<div class="page-head">
    <div class="container">
        <h1>{{ heading_title }}</h1>
        <div class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<!-- // Page Head -->


<!-- Page Content -->
<div class="page-content container">
    <div class="row row-reverse">
        <!-- Content Side -->
        <div class="col-s-12 col-l-9">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-ui">
              <div class="row">
                <div class="col-s-12">
                  <label class="col-sm-2 control-label">{{ entry_newsletter }}</label>
                  <div class="">
                    {% if newsletter %}
                    <label class="radio-inline">
                      <input type="radio" name="newsletter" value="1" checked="checked" />
                      {{ text_yes }} </label>
                    <label class="radio-inline">
                      <input type="radio" name="newsletter" value="0" />
                      {{ text_no }}</label>
                    {% else %}
                    <label class="radio-inline">
                      <input type="radio" name="newsletter" value="1" />
                      {{ text_yes }} </label>
                    <label class="radio-inline">
                      <input type="radio" name="newsletter" value="0" checked="checked" />
                      {{ text_no }}</label>
                    {% endif %}
                  </div>
                </div>
                </div>
              <div class="buttons clearfix">
                <div class="pull-left"><a href="{{ back }}" class="btn default">{{ button_back }}</a></div>
                <div class="pull-right">
                  <input type="submit" value="{{ button_continue }}" class="btn primary" />
                </div>
              </div>
            </form>
        </div>
        <!-- // Content Side -->
        
        <!-- Widegets Side -->
{{ column_left }}
</div>
</div>
<!-- // Page Content -->

{{ footer }}
