{{ header }}
<!-- Page Head -->
<div class="page-head">
    <div class="container">
        <h1>{{ heading_title }}</h1>
        <div class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<!-- // Page Head -->


<!-- Page Content -->
<div class="page-content container">
    <div class="row row-reverse">
        <!-- Content Side -->
        <div class="col-s-12 col-l-9">
            {% if orders %}
            <div class="table-responsive">
              <table class="table table-borderd table-hover">
                <thead>
                  <tr>
                    <td class="text-right">{{ column_order_id }}</td>
                    <td class="text-left">{{ column_customer }}</td>
                    <td class="text-right">{{ column_product }}</td>
                    <td class="text-left">{{ column_status }}</td>
                    <td class="text-right">{{ column_total }}</td>
                    <td class="text-left">{{ column_date_added }}</td>
                    <td></td>
                  </tr>
                </thead>
                <tbody>
                 {% for order in orders %}
                  <tr>
                    <td class="text-right">#{{ order.order_id }}</td>
                    <td class="text-left">{{ order.name }}</td>
                    <td class="text-right">{{ order.products }}</td>
                    <td class="text-left">{{ order.status }}</td>
                    <td class="text-right">{{ order.total }}</td>
                    <td class="text-left">{{ order.date_added }}</td>
                    <td class="text-right"><a href="{{ order.view }}" data-toggle="tooltip" title="{{ button_view }}" class="btn info"><i class="fa fa-eye"></i></a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="row">
              <div class="col-sm-6 text-left">{{ pagination }}</div>
              <div class="col-sm-6 text-right">{{ results }}</div>
            </div>
            {% else %}
            <p>{{ text_empty }}</p>
            {% endif %}
            <div class="buttons clearfix">
              <div class="pull-right"><a href="{{ continue }}" class="btn primary">{{ button_continue }}</a></div>
            </div> 
        </div>
        <!-- // Content Side -->
      
        <!-- Widegets Side -->
{{ column_left }}
</div>
</div>
<!-- // Page Content -->

{{ footer }}

