{{ header }}
<!-- Page Head -->
<div class="page-head">
    <div class="container">
        <h1>{{ heading_title }}</h1>
        <div class="breadcrumb">
            {% for breadcrumb in breadcrumbs %}
            <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
            {% endfor %}
        </div>
    </div>
</div>
<!-- // Page Head -->


<!-- Page Content -->
<div class="page-content container">
    <div class="row row-reverse">
        <!-- Content Side -->
        <div class="col-s-12 col-l-9">
            <form action="{{ action }}" method="post" enctype="multipart/form-data" class="form-ui">
              <div class="row">
                <div class="wideget-title">{{ text_password }}</div>
                <div class="col-s-12 required">
                  <label for="input-password">{{ entry_password }}</label>
                    <input type="password" name="password" value="{{ password }}" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
                    {% if error_password %}
                    <div class="text-danger">{{ error_password }}</div>
                    {% endif %}
                </div>
                <div class="col-s-12 required">
                  <label for="input-confirm">{{ entry_confirm }}</label>
                    <input type="password" name="confirm" value="{{ confirm }}" placeholder="{{ entry_confirm }}" id="input-confirm" class="form-control" />
                    {% if error_confirm %}
                    <div class="text-danger">{{ error_confirm }}</div>
                    {% endif %}
                </div>
              </div>
              <div class="buttons clearfix">
                <div class="pull-left"><a href="{{ back }}" class="btn">{{ button_back }}</a></div>
                <div class="pull-right">
                  <input type="submit" value="{{ button_continue }}" class="btn primary" />
                </div>
              </div>
            </form>
        </div>
        <!-- // Content Side -->
        
        <!-- Widegets Side -->
{{ column_left }}
</div>
</div>
<!-- // Page Content -->
{{ footer }}